<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--VNPAY SETTINGS-->
    <add key="vnp_Url" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
    <add key="vnp_Returnurl" value="http://localhost:16262/vnpay_return.aspx"/>
    <add key="vnpay_api_url" value="https://merchant.vnpay.vn/merchant_webapi/merchant.html"/>
    <add key="vnp_TmnCode" value="SKVVXLC6"/>
    <add key="vnp_HashSecret" value="UTVLZFSCQNTJWKEDNWTNZZNFNNRDPUAA"/>
  </appSettings>
  <connectionStrings>
    <add name="desktop-r673ig9\sqlexpress.BookOnline.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-R673IG9\SQLEXPRESS;integrated security=SSPI;initial catalog=BookOnline"/>
    <add name="desktop-B4KBD2K\sqlexpress.BookOnline.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-B4KBD2K\SQLEXPRESS;integrated security=SSPI;initial catalog=BookOnline"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
