<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--VNPAY SETTINGS-->
    <add key="vnp_Url" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
    <add key="vnp_Returnurl" value="http://localhost:16262/vnpay_return.aspx" />
    <add key="vnpay_api_url" value="https://merchant.vnpay.vn/merchant_webapi/merchant.html" />
    <add key="vnp_TmnCode" value="SKVVXLC6" />
    <add key="vnp_HashSecret" value="UTVLZFSCQNTJWKEDNWTNZZNFNNRDPUAA" />
    <add key="PING" value="google.com" />
    <add key="API_ROOT" value="http://localhost:49898/" />
    <add key="API_REGISTER" value="api/SendEmail/Register?" />
    <add key="API_RESETPWD" value="api/SendEmail/ResetPass?" />
    <add key="API_RESETPWD" value="api/SendEmail/ResetPass?" />
    <add key="API_BOOKOFUSER" value="api/tbl_BookofUser?" />
    <add key="API_BOOKSTORE" value="api/tbl_Book" />
    <add key="MAP_BOOKOFUSER" value="ID#USERID#BOOKID#PAGE#LastView#Status#NOTE#C_Date"/>
    <add key="MAP_BOOKSTORE" value="BookID#BookNAME#catalo#LangID#AUTHOR#YEAR#SUMMARY#PRICE#TRIAL_URL#IMG#NOTE#DateUpdate"/>
  </appSettings>
  <connectionStrings>
    <add name="desktop-r673ig9\sqlexpress.BookOnline.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-R673IG9\SQLEXPRESS;integrated security=SSPI;initial catalog=BookOnline" />
    <add name="desktop-B4KBD2K\sqlexpress.BookOnline.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-B4KBD2K\SQLEXPRESS;integrated security=SSPI;initial catalog=BookOnline" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
