@model dynamic
    @{ 
        Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <link rel="stylesheet" href=".../.../Content/Site.css" />
    <title> Xác nhận Email </title>
</head>
<body>
    <div>
        <h1>
            @Model.Name
        </h1>
        <p><h3> @Model.Subtitle</h3></p>
    </div>
</body>
</html>